i{
  font-size: 80px;  
}

.row > div{
    padding: 10px;
}

.send-message{
  width: 33%;
}

#contact-header > * {
  font-weight: bold;
  color: black;
}

#two, #three, #four, #five {
  height: 500px;
}

.txt-rotate{
  font-size: 2em;
}